<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Crear Producto', style: '/css/styles.css'}) %>
<body>
    <%- include('../partials/header') %>

    <h1>Formulario Crear Productos</h1>

    <form action="/products/create" method="POST" enctype="multipart/form-data">
        <div class="form-camp">
            <label for="name" class="form-label">Nombre:</label>
            <input type="text" name="name" placeholder="Ej: Auriculares" class="form-input">
        </div>
        <div class="form-camp">
            <label for="price" class="form-label">Precio:</label>
            <input type="number" name="price" placeholder="Ej: 3500" class="form-input">
        </div>
        <div class="form-camp">
            <label for="discount" class="form-label">Descuento:</label>
            <input type="number" name="discount" placeholder="Ej: 25" class="form-input">
        </div>
        <div class="form-camp">
            <label for="description" class="form-label">Descripción:</label>
            <textarea name="description" class="form-input"></textarea>
        </div>
        <div class="form-camp">
            <label for="image" class="form-label">Foto producto:</label>
            <input type="file" name="image" class="form-input">
        </div>
        <div class="form-camp">
            <label for="category" class="form-label">Categoría:</label>
                <select name="category" class="form-input">
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                     
                    <% }) %>      
                </select>
        </div>     
        <div class="buttons">
            <button type="submit" class="button">Guardar producto</button>
            <button type="reset" class="button">Limpiar formulario</button>
        </div>
    </form>
</body>
</html>