<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Sitio de pruebas', style: '/css/styles.css'}) %>
<body>
    <%- include('./partials/header') %>
    
    <main>
        <h1>Welcome</h1>
        
        <p class="welcome-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repellat labore ea, dolores, enim sequi magnam vitae hic nesciunt totam nihil, temporibus nulla. Molestiae amet at deleniti ipsa dignissimos recusandae?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus explicabo dignissimos dolor. Sit excepturi porro, ab quod sunt architecto blanditiis laborum, nulla beatae deserunt eveniet similique molestiae quasi placeat asperiores.
        </p>
        <section class="foto-text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repellat labore ea, dolores, enim sequi magnam vitae hic nesciunt totam nihil, temporibus nulla.
            </p>

            <img src="/img/foto-home.jpg" alt="foto">
            
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repellat labore ea, dolores, enim sequi magnam vitae hic nesciunt totam nihil, temporibus nulla.
            </p>
        </section>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium rem fuga modi dolore explicabo maxime commodi aperiam vel officia quas corrupti molestias ipsa facilis dolores atque suscipit ducimus, dolorem non?
        </p>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>